header ul {
    width: 100%;
    height: 99%;
    background-image: url(../img/image/header_bg.jpg);
    text-align: center;
}

ul li {
    color: #f7f7f7;
    display: inline-flex;
    padding: 2%;
}

ul a {
    color: #3d9f96;
}

.intro {
    padding: 5% 0% 0% 0%;
    text-align: center;
    background-image: url(../img/image/header_bg.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #3d9f96;
    color: #FFFFFF;
    text-align: center;
}

.row.socialmedia {
    background-color: #f7f7f7;
    text-align: center;
    padding: 2% 20% 2% 20%;
}

.NewApp {
    text-align: center;
}

.row.NewApp {
    font-family: Helvetica, Arial, sans-serif, 'Raleway';
    width: 100%;
    padding: 2% 20% 5% 20%;
    background-image: url(../img/image/map_bg.png);
}

.avatar {
    color: #FFFFFF;
    text-align: center;
    background-image: url(../img/image/header_bg.jpg);
    padding: 5%;
}

.screenshots {
    background-color: #f7f7f7;
    padding: 2% 10% 2% 15%;
}

.container {
    font-family: Raleway, Arial, sans-serif;
    padding: 2% 10% 2% 15%;
}

.info {
    background-color: #f7f7f7;
    padding: 2% 10% 2% 15%;
}

.row.footer {
    font-family: Raleway, Arial, sans-serif;
    padding: 1% 1% 1% 15%;
}

.row.footer img {
    padding: 2% 1% 2% -5%;
}

.col button {
    border-radius: 60px;
    padding: 10px;
    width: 150px;
    height: 50px;
}

.intro button {
    border-radius: 60px;
    padding: 10px;
    width: 150px;
    height: 50px;
}